*{
    margin: 0%;
    padding: 0%;
    font-family: "Merriweather", serif;
}

section{
  width: 100%;
  /* height: 100vh; */
}


/* navbar */
.navbar{
    background-color: #BE7656;
}
.container-fluid{
    margin: 0px 60px;
}
.nav-link{
    font-weight: 600;
    color: black;
}
.nav-iten.nav-link{
    transition: 0.5s;
}
.nav-item:hover{
    background-color: rgba(240, 248, 255, 0.499);
    color: black;
    border-radius: 10px;
}
.search-btn:hover{
    background-color: black;
    color: white;
}


/* hero */

#home{
    width: 100%;
    height: 90vh;
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(imgs/bc3.png);
   background-repeat: no-repeat;
   background-size:cover ;
   background-position: center;
}
.content{
margin-top: 200px;
}

.content h1{
    font-size:50px;
}
.button{
    padding: 3px 13px;
    border-radius: 8px;
    border: none;
    border: 1px solid white;
}
/* about */
#about{
    width: 100%;
    /* height: 100vh; */
    padding-bottom: 7vh;
}
.about-btn{
    padding: 5px 15px;
    border: 1px solid black;
}
.about-btn:hover{
    background-color: #BE7656;
    border: 1px solid goldenrod;
    color: white;
}

/* menu */
#categories{
    padding-bottom:8vh;
    padding-top: 5vh;
}

.scale {
    transform: scale(1,);
    transition: transform 0.5s ease;
  }
  
  
  .box:hover .scale {
    transform: scale(1.5, 1.5);
  }
  
#menu{
   
}
.menu-card{
    background-color: aliceblue;
    border: none;
    padding: 10px;
}
.menu-card:hover{
    box-shadow: 0px 0px 7px black;
    border: none;
}
.base {
    justify-content: space-between;
    padding:0px 20px;
}
#products{
    padding-bottom: 150px;
    padding-top: 50px;
}
.img1{
    transform: scale(1,);
    transition: transform 0.5s ease;
}

.img1:hover{
    box-shadow: 0px 0px 6px black;
    border-radius: 10px;
    transform: scale(1.1, 1.1);
}


#contact{
    width: 100%;
    height: 100vh;
    padding: 70px;
    background-color: aliceblue;
}
#contact .container:hover{
      box-shadow: 2px 0px 6px black;   
}

#contact .container{
    width: 100%;
    height: 80vh ;
    background:linear-gradient(90deg, white 80% , rgb(246, 130, 7) 20%);
    
}
#footer{
    padding-top: 30px;
}
#footer:hover{
    box-shadow: 2px 0px 6px black;   
}

#contact-black{
    margin-left: 50px;
}
@media (max-width:769px) {
    .inp{
        width: 360px;
    }
    .container-fluid{
        margin: 0px 20px;
    }
#contact{
   
    padding: 0px;
    height: 90vh;

}
.navbar-brand{
    margin-left: 0px;
}

    #contact p{
        width: 340px;
    }
    #contact-black{
       /* width: 70vw; */
       margin: auto;
    }
    #footer{
        padding-top: 30px;
    }
}

@media (max-width:967px) {

     #contact-black{
       /* width: 70vw; */
       margin: auto;
    }
}
#map h1{
    color: #BE7656;
}
#map{
    padding: 50px 150px;
    background-color: aliceblue;

}
#map:hover{
    box-shadow: 1px 1px 3px black;   
}
.cafe{
    position:relative;
   
}